@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");

:root {
  --orange-color: #ffd139;
  --blue-color: #5ac3e6;
  --border-dark-blue-color: #166e784b;
  --red-color: #ff0000;
  --white-color: #ffffff;
}

body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 50px;
}

.button {
  display: flex;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  font-family: "Baloo 2", cursive;
  width: fit-content;
  padding: 5px 10px;
  color: var(--white-color);
}

.chronoContainer {
  font-family: "Baloo 2", cursive;
  margin-top: 15%;
}

.chrono {
  font-size: 5rem;
}

.buttonContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.btnStart {
  background-color: var(--orange-color);
}

.btnStop {
  margin-right: 1rem;
  background-color: var(--red-color);
}

.btnReset {
  background-color: var(--blue-color);
}

.btnReset,
.btnStop {
  display: none;
}

.section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
}

@media screen and (min-width: 1220px) {
  .logo {
    top: 10%;
  }
}
@media screen and (min-width: 1220px) {
  .logo {
    width: 50%;
  }
}

.title {
  font-family: "Baloo 2", cursive;
  font-size: 2rem;
  font-weight: 600;
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.input::placeholder {
  text-align: center;
}
.input {
  margin-top: 0.5rem;
  border: none;
  border-radius: 5px;
  height: 35px;
  padding: 0px 5px;
}

.hr {
  width: 100%;
  margin: 0;
  border-color: var(--border-dark-blue-color);
}

.addLineButton {
  background-color: var(--blue-color);
  margin-top: 1rem;
}

.submitButton {
  background-color: var(--orange-color);
  border: none;
  padding: 0 5px;
  font-size: 1.2rem;
  font-weight: 550;
  margin-top: 1rem;
}

.alert {
  margin-top: 0.5rem;
  color: red;
  font-family: "Baloo 2", cursive;
}

.reset {
  background-color: var(--orange-color);
}

.resultSection {
  display: none;
  margin-top: 10%;
}

.winnerResult {
  margin: 2rem 0;
  font-family: "Baloo 2", cursive;
  font-size: 1.5rem;
  font-weight: 600;
}

.winerSpan {
  color: var(--blue-color);
}

.Reload {
  user-select: none;
  cursor: pointer;
}

.Reload > svg {
  height: 2rem;
}
